body {
  margin: 0;
  padding: 0;    
  /* background: linear-gradient(0deg, white, black 50%, black); */
}


.icons {
  width: 2rem;
  height: 2rem;
  cursor: pointer;
  color: rgb(133, 132, 132);
  transition: all 0.3s ease-in-out;
  margin: 3rem 0 0.75rem;
}

.icons:hover {
  color: skyblue;
}

.img-container {
  position: relative;
  height: 7rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color:rgba(209, 217, 224, 0.503);
  margin: 0 0 5rem 0;
}

.img-container img {
  position: absolute;   
  top: 0;
  object-fit: cover;
  background-color: white;
}

